<h1> Addition </h1>

<form action="/addition/results">

<label for="giraffe"> Add this: </label>

<input id="giraffe" type="text" name="n1">

 <label for="giraffe2"> to this: </label>

<input id="giraffe2" type="text" name="n2">

<button> Add </button>

</form>
