<h1> Division </h1>

<form action="/division/results">

<label for="giraffe"> Divide this: </label>

<input id="giraffe" type="text" name="n1">

 <label for="giraffe2"> by this: </label>

<input id="giraffe2" type="text" name="n2">

<button> Divide </button>

</form>
