<h1> Multiplication Results </h1>

<dl>
<dt> First number </dt>
<dd><%= @num1 %></dd>

<dt> Second number </dt>
<dd><%= @num2 %></dd>

<dt> Result </dt>
<dd><%= @result %></dd>

</dl>

<a href="/multiplication/new">Do another multiplication</a>
