<h1> Hello </h1>

<form action="/multiplication/results">

<label for="giraffe"> Multiply this </label>

<input id="giraffe" type="text" name="n1">

 <label for="giraffe2"> by this </label>

<input id="giraffe2" type="text" name="n2">

<button> Add </button>

</form>
