<h1> Subtraction </h1>

<form action="/subtraction/results">

<label for="giraffe"> Subtract this: </label>

<input id="giraffe" type="text" name="n1">

 <label for="giraffe2"> from this: </label>

<input id="giraffe2" type="text" name="n2">

<button> Subtract </button>

</form>
